:root {
  --black-color: #212121;
  --white-color: #ffffff;
  --second-color-paragraf: #757575;
  --header-mail-tel: #757575;
  --color-curennt: #2196F3;
  --footer-bacround: #2F303A;
  --second-background: #F5F4FA;
  --color-hover-focus: #188CE8;
  --black-rgba: 0px 4px 4px rgba(0, 0, 0, 0.15);
  ---second-color-rgba: rgba(255, 255, 255, 0.6);
  --three-rgba: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--black-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.cointeiner {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .cointeiner {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .cointeiner {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .cointeiner {
    max-width: 1200px;
  }
}
.cointeiner__service {
  padding: 0;
}
@media screen and (min-width: 1200px) {
  .cointeiner__service {
    max-width: 1600px;
  }
}
@media screen and (min-width: 768px) {
  .cointeiner__address-join {
    display: flex;
    text-align: center;
    align-items: baseline;
  }
}

.section {
  padding: 60px 0;
  margin: 0 auto;
}
.section--team {
  background: var(--second-background);
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
    margin: 0 auto;
  }
}
.section__developing {
  padding-top: 0;
}

.header {
  border-bottom: 1px solid #ECECEC;
}
.header__cointeiner {
  display: flex;
  padding-left: 15px;
  padding-right: 22px;
}
@media screen and (min-width: 480px) {
  .header__cointeiner {
    max-width: 480px;
    height: 60px;
  }
}
@media screen and (min-width: 768px) {
  .header__cointeiner {
    max-width: 768px;
    height: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .header__cointeiner {
    max-width: 1200px;
    height: 100%;
  }
}

.nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .nav {
    display: flex;
  }
}
.nav__list {
  display: flex;
  gap: 50px;
  position: relative;
}
.nav__link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--black-color);
  padding: 32px 0;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .nav__link {
    font-size: 14px;
    line-height: 1.143;
  }
}
.nav__link:hover, .nav__link:focus {
  color: var(--color-hover-focus);
}
.nav__link--current {
  position: relative;
  color: var(--color-curennt);
}
.nav__link--current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  background: var(--color-curennt);
  border-radius: 2px;
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  padding: 15px 0;
  color: var(--color-curennt);
}
@media screen and (min-width: 768px) {
  .logo {
    padding: 0;
    display: flex;
    align-items: center;
    margin-right: 88px;
    padding: 26px 0;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
    padding: 24px 0 25px;
    margin-right: 93px;
  }
}
.logo__text {
  color: var(--black-color);
}

.contact {
  display: none;
}
@media screen and (min-width: 768px) {
  .contact {
    display: block;
    padding: 0;
    margin-left: auto;
    padding: 21px 0;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    display: flex;
    margin-left: auto;
    gap: 30px;
    padding: 32px 0;
    align-items: center;
  }
}
.contact__item:first-child {
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .contact__item:first-child {
    margin-bottom: 0;
  }
}
.contact__link {
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.02282em;
  color: var(--header-mail-tel);
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .contact__link {
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.0215em;
  }
}
.contact__icon-1 {
  width: 14px;
  height: 10px;
  display: flex;
  margin-right: 8px;
  fill: currentColor;
}
@media screen and (min-width: 1200px) {
  .contact__icon-1 {
    margin-right: 10px;
    width: 16px;
    height: 12px;
  }
}
.contact__icon-2 {
  width: 10px;
  height: 14px;
  display: flex;
  margin-right: 8px;
  fill: currentColor;
}
@media screen and (min-width: 1200px) {
  .contact__icon-2 {
    margin-right: 10px;
    height: 16px;
  }
}
.contact__link:hover, .contact__link:focus {
  color: var(--color-hover-focus);
}

.menu-open {
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
}
.menu-open__icon {
  width: 24px;
}
@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .menu-open {
    display: none;
  }
}

.mobi-menu {
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: var(--white-color);
}
.mobi-menu__cointeiner {
  padding: 10px 15px 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow: auto;
}
.mobi-menu__item:not(:last-child) {
  margin-bottom: 32px;
}
.mobi-menu__link {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
}
@media screen and (min-width: 480px) {
  .mobi-menu__link {
    font-size: 40px;
  }
}
.mobi-menu__link--current {
  color: var(--color-curennt);
}
.mobi-menu__contact-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin-bottom: 64px;
}
.mobi-menu__tel-link {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--color-curennt);
}
@media screen and (min-width: 480px) {
  .mobi-menu__tel-link {
    font-size: 34px;
  }
}
.mobi-menu__mail-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.667;
  letter-spacing: 0.02em;
  color: var(--header-mail-tel);
}
.mobi-menu__social {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.mobi-menu__social-link {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: content-box;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.122;
  letter-spacing: 0.02em;
  color: var(--color-curennt);
}
.mobi-menu__social-links {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.122;
  letter-spacing: 0.02em;
  color: var(--color-curennt);
}

.menu-close {
  background-color: var(--white-color);
  width: 100%;
  margin-left: auto;
  display: flex;
  justify-content: end;
  border: none;
  padding: 0;
}
.menu-close__icon-x:hover, .menu-close__icon-x:focus {
  fill: var(--color-curennt);
}

.main__portfolio {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .main__portfolio {
    padding-top: 100px;
    padding-bottom: 94px;
  }
}

.section-service {
  margin: 0 auto;
  padding: 118px 0px;
  height: 100%;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-mobile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section-service {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-mobile-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .section-service {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .section-service {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-tablet-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .section-service {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-desctop.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .section-service {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-desctop-2x.jpg);
  }
}
.section-service__title {
  width: 100%;
  font-weight: 900;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin: 0 auto 30px;
}
@media screen and (min-width: 480px) {
  .section-service__title {
    width: 360px;
    font-size: 26px;
    line-height: 1.6155;
  }
}
@media screen and (min-width: 768px) {
  .section-service__title {
    width: 360px;
    font-size: 26px;
    line-height: 1.6155;
  }
}
@media screen and (min-width: 1200px) {
  .section-service__title {
    font-size: 44px;
    line-height: 1.3638;
    width: 696px;
  }
}

.btn {
  display: block;
  border: none;
  padding: 10px 32px;
  border-radius: 4px;
  margin: 0 auto;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background: var(--color-curennt);
}
.btn:hover, .btn:focus {
  background-color: var(--color-hover-focus);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background-color: #EEEEEE;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  box-sizing: border-box;
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white-color);
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__icon-close {
  width: 11px;
  height: 11px;
}
.modal__btn:hover, .modal__btn:focus {
  fill: var(--color-hover-focus);
}

.modal-form {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .modal-form {
    width: 448px;
  }
}
.modal-form #contact-details-head {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-color);
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .modal-form #contact-details-head {
    line-height: 1.15;
  }
}
.modal-form__labale {
  text-align: start;
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
  margin-top: 10px;
}
.modal-form__div-input {
  position: relative;
}
.modal-form__input {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--first-color-text);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:focus + .modal-form__icon {
  fill: var(--color-curennt);
}
.modal-form__input:focus {
  border: 1px solid var(--color-curennt);
}
.modal-form__textarea {
  display: block;
  box-sizing: border-box;
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__textarea:focus {
  border: 1px solid var(--color-curennt);
}
.modal-form__button {
  display: block;
  width: 200px;
  height: 50px;
  background-color: var(--color-curennt);
  border-radius: 4px;
  border: none;
  margin: 0 auto;
  padding: 10px 52px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--white-color);
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__button:hover, .modal-form__button:focus {
  background-color: var(--color-hover-focus);
}

.checkbox__labela {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.67;
  letter-spacing: 0.025em;
  color: #757575;
  margin: 20px 0px 31px 0px;
}
@media screen and (min-width: 480px) {
  .checkbox__labela {
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1200px) {
  .checkbox__labela {
    margin: 20px 0px 30px 0px;
    padding-left: 12px;
    font-size: 14px;
    line-height: 1.714;
  }
}
.checkbox__span {
  box-sizing: border-box;
  width: 16px;
  height: 15px;
  border: 2px solid var(--black-color);
  border-radius: 2px;
  display: flex;
  align-items: center;
  margin-right: 8px;
}
.checkbox__tick {
  fill: var(--white-color);
  display: flex;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__link {
  display: flex;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.67;
  letter-spacing: 0.025em;
  color: var(--color-curennt);
}
@media screen and (min-width: 480px) {
  .checkbox__link {
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1200px) {
  .checkbox__link {
    font-size: 14px;
    line-height: 1.714;
  }
}
.checkbox__input:checked + .checkbox__labela span {
  background-color: var(--color-curennt);
  border: none;
}

.characteristics__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.characteristics__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .characteristics__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .characteristics__item {
    width: calc((100% - 90px) / 4);
  }
}
.characteristics__div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
}
.characteristics__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--black-color);
  margin: 30px 0 10px;
}
.characteristics__text {
  font-weight: 400;
  line-height: 1.7155;
  color: var(--second-color-paragraf);
}

.developing {
  display: none;
}
@media screen and (min-width: 1200px) {
  .developing {
    display: block;
  }
}
.developing__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--black-color);
  margin-bottom: 50px;
}
.developing__list {
  display: flex;
  gap: 30px;
}
.developing .developing__item {
  width: calc((100%-60px) / 3);
  position: relative;
}
.developing__img {
  display: block;
  max-width: 100%;
  height: auto;
}
.developing__text {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--black-color);
  margin-bottom: 18px;
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}
.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.team .team__item {
  width: 100%;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 480px) {
  .team .team__item {
    max-width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .team .team__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team .team__item {
    width: calc((100% - 90px) / 4);
  }
}
.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--black-color);
  margin-top: 30px;
  margin-bottom: 10px;
}
.team__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--second-color-paragraf);
}
.team__div {
  margin: 16px auto 24px;
  display: flex;
  gap: 10px;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .team__div {
    margin: 16px auto 30px;
  }
}
.team__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: #AFB1B8;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__icon {
  fill: currentColor;
}
.team__link:hover, .team__link:focus {
  background-color: var(--color-curennt);
  color: var(--white-color);
}

.customers__name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167em;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .customers__name {
    margin-bottom: 50px;
  }
}
.customers__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.customers__item {
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .customers__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .customers__item {
    width: calc((100% - 150px) / 6);
  }
}
.customers__link {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #AFB1B8;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__icon {
  display: flex;
  fill: currentColor;
}
.customers__link:hover, .customers__link:focus {
  color: var(--color-curennt);
  border-color: var(--color-curennt);
}

.footer {
  background: var(--footer-bacround);
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .footer__cointeiner {
    display: flex;
    align-items: baseline;
  }
}

.address {
  font-style: none;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .address {
    width: 231px;
    margin: 0 165px 60px 76px;
  }
}
@media screen and (min-width: 1200px) {
  .address {
    margin: 0 70px 0 0;
    text-align: start;
  }
}
.address__logo {
  width: 100%;
  display: block;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  color: var(--color-curennt);
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .address__logo {
    font-size: 26px;
    line-height: 1.1925;
  }
}
.address__span {
  color: var(--white-color);
}
.address__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 8px;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .address__list {
    gap: 9px;
  }
}
.address__item {
  width: 100%;
}
.address__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--white-color);
  font-style: normal;
}
.address__link {
  font-style: normal;
  display: block;
  line-height: 1.5;
  color: var(---second-color-rgba);
}

.join {
  margin: 60px auto;
  width: 206px;
}
@media screen and (min-width: 768px) {
  .join {
    margin: 0;
  }
}
.join__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  text-align: center;
  margin-bottom: 20px;
}
.join__list {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.join__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.join__icon {
  fill: currentColor;
}
.join__link:hover {
  background-color: var(--color-curennt);
}

.sing-up {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .sing-up {
    text-align: start;
    margin-left: auto;
  }
}
.sing-up__label {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}
.sing-up__input {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2F303A;
  font-size: 16px;
  color: var(--white-color);
  padding: 0px 0px 0px 16px;
  outline: transparent;
  margin-bottom: 20px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .sing-up__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .sing-up__input {
    width: 358px;
    margin: 0 12px 0 0;
  }
}
.sing-up__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.sing-up__input:focus {
  border-color: var(--color-curennt);
}
.sing-up__button {
  display: block;
  position: relative;
  border: none;
  width: 200px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-align: start;
  padding: 10px 28px;
  margin: 0 auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .sing-up__button {
    display: inline-block;
  }
}
.sing-up__icon {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
}
.sing-up__text {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--white-color);
}
.sing-up__button:hover, .sing-up__button:hover {
  background-color: var(--color-hover-focus);
}

.portfolio {
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .portfolio {
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-bottom: 50px;
  }
}
.portfolio__list {
  width: 320px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
@media screen and (min-width: 480px) {
  .portfolio__list {
    width: 326px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__list {
    justify-content: center;
    width: 100%;
  }
}
.portfolio__button {
  display: block;
  font-family: inherit;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-color);
  border-radius: 4px;
  border-color: var(--second-background);
  padding: 6px 16px;
  border: none;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .portfolio__button {
    padding: 6px 22px;
  }
}
.portfolio__button--btn {
  color: var(--white-color);
  background: var(--color-curennt);
  box-shadow: var(--three-rgba);
  padding: 6px 16px;
  letter-spacing: 0.0202em;
}
@media screen and (min-width: 480px) {
  .portfolio__button--btn {
    padding: 6px 25px;
  }
}
.portfolio__button:hover, .portfolio__button:focus {
  background-color: var(--color-hover-focus);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.cards__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .cards__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .cards__item {
    width: calc((100% - 60px) / 3);
  }
}
.cards__link {
  display: block;
  text-decoration: none;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.cards__thumb {
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 480px) {
  .cards__thumb {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .cards__thumb {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .cards__thumb {
    width: 100%;
  }
}
.cards__img {
  width: 100%;
  height: 294px;
}
.cards__overlay {
  position: absolute;
  content: "";
  bottom: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);
}
.cards__text-overlay {
  font-size: 16px;
  line-height: 1.555;
  letter-spacing: 0.03em;
  color: var(--white-color);
  padding: 50px 24px;
}
@media screen and (min-width: 480px) {
  .cards__text-overlay {
    padding: 77px 24px;
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .cards__text-overlay {
    padding: 63px 24px;
  }
}
.cards__link:hover .cards__overlay, .cards__link:focus .cards__overlay {
  transform: translateY(0);
}
.cards__link:hover, .cards:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.cards__div {
  box-sizing: border-box;
  padding: 20px 24px 19px 24px;
  border-color: var(--three-color);
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
}
@media screen and (min-width: 1200px) {
  .cards__div {
    height: 110px;
  }
}
.cards__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black-color);
  margin-bottom: 4px;
}
.cards__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  color: var(--second-color-paragraf);
}/*# sourceMappingURL=main.css.map */