.address { 
 font-style: none;
text-align: center;
@include tablet {
    width: 231px;
    margin: 0 165px 60px 76px;
}
@include desctop {
    margin: 0 70px 0 0;
    text-align: start;
}
  
&__logo {
    width: 100%;
    display: block;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.167;
    color: var(--color-curennt);
    letter-spacing: 0.03em;
    margin-bottom: 20px;

    @include desctop {
    font-size: 26px;
    line-height: 1.1925;
}
}

&__span {
    color: var(--white-color);
}
&__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 8px;
    margin:0 auto ;
@include desctop {
    gap: 9px;
}

}
&__item {
    width: 100%;
}

&__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--white-color);
    font-style: normal;
}

&__link {
    font-style: normal;
    display: block;
    line-height: 1.5;
    color: var(---second-color-rgba);
    

}
}