.contact {
    display: flex;
    margin-left: auto;
    gap: 30px;
    padding: 32px 0;
    align-items: center;
&__link {
        transition-property: color, background-color, box-shadow;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        display: flex;
        align-items: center;
        font-weight: 500;
        line-height: 1.142;
        letter-spacing: 0.02em;
        color: var(--header-mail-tel);
        color: #757575;
    }

&__icon {
    display: flex;
    margin-right: 10px;
    fill: currentColor;
}

&__link:hover,
&__link:focus {
    color: var(--color-hover-focus);
}

}





