.logo {
font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.03em;
        padding: 15px 0 ;
        color: var(--color-curennt);

@include desctop {
        
        font-size: 26px;
        line-height: 1.19;
        padding: 24px 0 25px;
        margin-right: 93px;
        }

&__text {
        color: var(--black-color);
    }
}