.mobi-menu {
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: var(--white-color);
   
    &__cointeiner {
    padding: 10px 15px 48px 40px;
    display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        overflow: auto;
   
    }

// &__list  {
// // margin-bottom: 302px;
// }
&__item:not(:last-child){
   margin-bottom: 32px;
}
&__link {
    font-weight: 500;
    font-size: 30px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: #212121;
    @include mobile {
        font-size: 40px;
}
 }
&__link--current {
    color: var(--color-curennt);
}
&__contact-list {
    display: flex ;
    flex-wrap: wrap;
    gap: 32px;
    margin-bottom: 64px;
   
}

&__tel-link {
font-weight: 500;
    font-size: 28px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: var(--color-curennt);
    @include mobile {
    font-size: 34px;
    }
}
&__mail-link {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.667;
    letter-spacing: 0.02em;
    
    color: var(--header-mail-tel);
}
&__social {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
// &__social-item {
   
// }
&__social-link{
padding-right: 10px;
border-right: 1px solid rgba(33, 33, 33, 0.2);
box-sizing: content-box;
font-weight: 500;
font-size: 18px;
 line-height: 1.122;
letter-spacing: 0.02em;
color: var(--color-curennt);
}

&__social-links {
font-weight: 500;
font-size: 18px;
line-height: 1.122;
letter-spacing: 0.02em;
color: var(--color-curennt);
}


 }