.btn {
    display: block;
    border: none;
    padding: 10px 32px;
    border-radius: 4px;
    margin: 30px auto 0;

    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    font-family: inherit;
    /* inherit Наслідує від боді */
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-color);
    background: var(--color-curennt);
    &:hover, &:focus {
            background-color: var(--color-hover-focus);
        }
}

