.section {
    padding: 60px 0;
    margin: 0 auto;
    &--developing {
            padding-top: 0;
        }

&--team {
    background: var(--second-background);
}
@include desctop {
    padding: 94px 0;
        margin: 0 auto;
}
}