.section {
    padding: 60px 0;
    margin: 0 auto;
    

&--team {
    background: var(--second-background);
}
@include desctop {
padding: 94px 0;
margin: 0 auto;
}
&__developing {
    padding-top: 0;
}
}