:root {
    --black-color: #212121;
    --white-color: #ffffff;
    --second-color-paragraf: #757575;
    --header-mail-tel: #757575;
    --color-curennt: #2196F3;
    --footer-bacround: #2F303A;
    --second-background: #F5F4FA;
    --color-hover-focus: #188CE8;
    --black-rgba: 0px 4px 4px rgba(0, 0, 0, 0.15);
    ---second-color-rgba: rgba(255, 255, 255, 0.6);
    --three-rgba: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

}

$percent: 100%;